{
   "admin": {
      "itunesPing": "https://phobos.apple.com/WebObjects/MZFinance.woa/wa/pingPodcast?id=FEEDID",
      "itunesUrl": "http://www.itunes.com/podcast?id=FEEDID"
   },
   "channel": {
      "title": "Austrian Photography Podcast",
      "link": "http://naderer.biz/podcast/",
      "language": "de",
      "author": "Philipp Naderer",
      "copyright": "&#xA9; Philipp Naderer",
      "subtitle": "Podcast über österreichische Fotografie",
      "description": "Regelmäßig, aber nicht programmiert, bringt der Austrian Photography Podcast Neues rund um Fotografie in und aus Österreich.",
      "image": "http://naderer.biz/external/podcast-files/app-logo.jpg",
      "categoryTop": "Arts",
      "categorySub": "Visual Arts"
   },
   "episodes": [
      {
         "title": "Andrei Liankevich - Focus on Belarus",
         "subtitle": "Blick auf Weißrussland",
         "summary": "Der aus Weißrussland stammende Fotograf Andrei Liankevich, geboren 1981, führt durch seine Ausstellung &quot;Focus on Belarus&quot; in der Gallery Anzenberger.",
         "author": "Philipp Naderer",
         "enclosure": {
            "url": "http://naderer.biz/external/podcast-files/app-001.m4a",
            "mimeType": "audio/x-m4a",
            "length": 25608878
         },
         "pubdate": "Sat, 9 Oct 2010 19:00:00 GMT",
         "duration": "18:50",
         "keywords": "Andrei Liankevich, Weißrussland, Fotojournalismus"
      }
   ]
}