/** Enables HTML5 **/
header, nav, article, footer, section {display:block; margin: 0;}

html {
    height: 101%;
    background: #fafafa url('../images/background-pattern.jpg') repeat-x;
    margin: 0;
    padding: 30px;
    font-family: "museo-sans-1","museo-sans-2",sans-serif;
}

h1 {
    font-family: "museo-slab-1","museo-slab-2",serif;
    font-weight: normal;
    font-size: 2em;
    margin: 0;
}

h2 {
    font-family: "museo-slab-1","museo-slab-2",serif;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    color: #888;
}

header h2 {
    margin: 2px 0 16px 0;
}

.main {
    margin: 0 auto;
    max-width: 600px;
    background: #fff;
    padding: 14px 18px;
    
    -moz-border-radius: 12px;
    border-radius: 12px;
    
    -webkit-box-shadow: 0px 0px 10px #bcbcbc;
    -moz-box-shadow: 0px 0px 10px #bcbcbc;
    box-shadow: 0px 0px 10px #bcbcbc;
}

.episodes article {
    margin: 10px 0 18px;
    padding: 8px 10px;
    
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid #eee;
    
    background: #F0F0F0; /* old browsers */
    background: -moz-linear-gradient(top, #F0F0F0 0%, #ffffff 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#ffffff)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#ffffff',GradientType=0 ); /* ie */
}

.episodes article:hover {
    cursor: pointer;
    background: #EBFFD1; /* old browsers */
    background: -moz-linear-gradient(top, #E3EBF4 0%, #EDF1F7 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E3EBF4), color-stop(100%,#EDF1F7)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E3EBF4', endColorstr='#EDF1F7',GradientType=0 ); /* ie */
}

.episodes article  h3 {
    font-family: "museo-slab-1","museo-slab-2",serif;
    font-size: 1em;
}

.episodes article h4 {
    font-family: "museo-slab-1","museo-slab-2",serif;
    font-weight: normal;
    font-size: 0.88em;
    color: #888;
}

.episodes .details {
    cursor: pointer;
    display: none;
    margin-top: 8px;
}

.episodes article.expanded .details {
    display: block;
}

.episodes article p {
    font-size: 0.88em;
}

.episodes .player {
    margin-top: 14px;
}

.episodes .player.quicktime {
    height: 316px; /* for QuickTime player */
}

.episodes .player .fallback {
    font-size: 0.75em;
}

footer {
    font-size: 0.75em;
    color: #888;
    border-top: 1px solid #afafaf;
    margin-top: 10px;
    padding-top: 6px;
}
